/* Header e botões*/

header {
    color: #FFFFFF;
    width: 1500px;
    height:56px;
    padding:0 40px;
    display:flex;
    flex-direction: row;
    justify-self: center;
    align-items:center;
    margin-bottom: 40px;
}

header>ul {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
    gap: 30px;
    list-style: none;
}

header>ul>li>button
{
    color: #CBD5E1;
    background-color: #263244;
    width: 120px;
    height: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Catálogo e jogos */

.gamesGrid
{
    position: relative;
    display: grid;
    gap: 65px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 1500px;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    border-radius: 24px;
    background-color: #131C2F;
}

.skeletonCard
{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #1E293B;
    border-radius: 24px;
    height: 420px;
    width: 320px;
}

.skeletonCard>img
{
    height: 320px;
    width: 320px;
    border-radius: 24px 24px 0 0;
}

.skeletonCard>p
{
    color: #94A3B8;
}

